* {
    box-sizing: border-box;
    font-family: "Courier Prime", monospace;
    font-weight: 100;
    background-color: black;
    color: white;
}
code, li, .color{
    color: yellowgreen;
}
::marker{
    color: white;
    font-weight: 900;
}