* {
  box-sizing: border-box;
}
body {
  --background-color: white;
  --text-color: black;
  --elements-color: white;
  margin: 0;
  font-family: "Nunito", sans-serif;
}
main.dark-mode,
header.dark-mode {
  --background-color: hsl(209, 23%, 22%);
  --text-color: white;
  --elements-color: hsl(209, 23%, 22%);
}
main,
header {
  background-color: var(--background-color);
  color: var(--text-color);
}
.theme-changer {
  cursor: pointer;
}
main {
  padding: 24px;
  min-height: calc(100vh - 87px);
}
.title {
  font-weight: 800;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin-inline: auto;
}
.header-container {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  padding-inline: 24px;
  background-color: var(--elements-color);
  position: sticky;
  top: 0;
  z-index: 1;
}
.countries-card-container {
  max-width: 1200px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  flex-wrap: wrap;
  gap: 64px;
  /* justify-content: space-between; */
  margin-top: 16px;
  background-color: var(--elements-color);
}
.text-content {
  padding-inline: 24px;
}
.text-content {
  margin-bottom: 16px;
}
a {
  text-decoration-line: none;
  color: inherit;
}
/* .countries-list {
  width: 100%;
  max-width: 250px;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  padding-bottom: 24px;
  display: inline-block;
  transition: all 0.25s ease-in-out;
} */
/* .countries-list img {
  width: 250px;
  height: 150px;
  object-fit: cover;
} */
/* .countries-list:hover {
  transform: scale(1.02);
} */

.search-filter-container {
  margin: 16px 0 42px 0;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin-inline: auto;
}
.search-container {
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  padding-left: 20px;
  border-radius: 10px;
  color: grey;
  background-color: var(--elements-color);
  color: var(--text-color);
}
.search-container input {
  border: none;
  outline: none;
  font-family: inherit;
  font-weight: 700;
  margin-left: 10px;
  width: 80%;
  padding: 14px;
  background-color: inherit;
  color: inherit;
}
.filter-by-region {
  width: 100%;
  max-width: 250px;
  border: none;
  outline: none;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 14px;
  border-radius: 10px;
  font-family: inherit;
  background-color: var(--elements-color);
  color: var(--text-color);
}
.ButtonElement {
  width: 100%;
  max-width: fit-content;
  background-color: #fa1;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.error-page {
  width: 100%;
  text-align: center;
  margin-block: 10vw;
}
.flag-container {
    height: 160px;
    overflow: hidden;
}
.country-card {
    display: inline-block;
    border-radius: 8px;
    overflow: hidden;
    padding-bottom: 24px;
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
    background-color: var(--elements-color);
    width: 250px;
}
.country-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.country-card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 16px 0px rgba(0, 0, 0, 0.2);
}
.card-title {
    font-size: 24px;
    margin-block: 16px;
}

.card-text {
    padding-inline: 16px;
}

.card-text p {
    margin-block: 8px;
}
@media screen and (max-width: 768px) {
  .countries-card-container {
    justify-content: center;
  }
  .title {
    font-size: 16px;
  }
  .header-content p {
    font-size: 12px;
  }
  .search-filter-container {
    flex-direction: column;
    row-gap: 32px;
  }
  .filter-by-region {
    width: 60%;
  }
}
