/* a.active {
    color: #fa0;
    font-weight: 700;
    text-decoration-line: underline;
    text-decoration-color: blue;
    text-decoration-style: dotted;
    text-decoration-thickness: 2px;
}
a {
    color: blue;
} */