* {
    box-sizing: border-box;
    font-family: "Courier Prime", monospace;
    font-weight: 100;
    background-color: black;
    color: white;
}
ol { line-height: 150%;
}
body { font-family: sans-serif;
}
img { width: 100%; 
    max-width: 600px;
}
h2, h3, code, li, a, .color{
    color: yellowgreen;
}
::marker{
    color: white;
    font-weight: 900;
}
.inline-class {
    border: 1px dotted red;
}

.tryEachBest {
    color: orange;
    text-decoration-line: none;
    font-family: cursive;
    font-style: italic;
    font-size: 14px;
    border: 1px dotted green;
}
#textDecoration {
    text-decoration-line: underline;
    text-decoration-style: wavy;
}
.hidden {
    display: none;
}
.newOne:hover{
    color: red;
    cursor: pointer;
    /* pointer-events: none; */
}