* {
  box-sizing: border-box;
  font-family: "Nunito", 'Courier New', Courier, monospace;
}
.itemsElement {
  touch-action: none;
}
.parentElement {
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}