* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Nunito", 'Courier New', Courier, monospace;
    background-color: #000;
}
.container {
    padding: 10px;
    margin-inline: auto;
}
.to-do-app {
    width: 100%;
    max-width: 540px;
    background-color: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.to-do-app h1 {
    text-align: center;

}
.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-block: 25px;

}
input {
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 10px;
}
button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background-color: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
ul li {
    list-style: none;
    font-size: 17px;
    padding: 10px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
.circle-icon {
    margin-right: 10px;
}
*/
ul {
    padding: 0;
}
.checked {
    color: #555;
    text-decoration: line-through;
}
.cross-icon:hover {
    background-color: #edeef0;
    border-radius: 50%;
}
#change-color {
    color: rgb(255, 145, 0);
}
.returnElement {
    margin-bottom: 10px;
}
@media screen and (max-width: 600px){
    button {
        padding: 16px 20px;
        border-radius: 30px;
    }
}
@media screen and (max-width: 350px){
    button {
        padding: 10px 10px;
        border-radius: 20px;
    }
}