/* .inline-block {
    background-color: aquamarine;
    font-size: 1em;
    padding: 1em;
    margin: .5em;
    width: 10em;
    box-sizing: border-box;
    border: .2em solid;
}

.main {
    font-size: 1em;
} */

/*em sheet*/