
:root{
   font-size: 12px;
}

.inline-block {
   background-color: aqua;
   font-size: 1.5rem;
   width: 100%;
   max-width: 500px;
   padding: 1.5rem;
   margin: 1rem;
   border: .5rem solid black;
   box-sizing: border-box;
}
 
.heading {
   font-size: 2.5rem
}

li { list-style-type: square;
   line-height: 1rem;}

/*rem sheet*/

trfc {color: rgb(rgb(217, 230, 229) )
}