body {
    background-color: #d6e2f0;
    /* font-family: "sofiya", sans-serif; */
    font-family: cursive;
    text-align: center;
}

.card   {
    background-color: #ffffff;
    width: 100%;
    padding: 1rem 1rem 3rem 1rem;
    max-width: 302px;
    height: 472px;
    border-radius: 1rem;
    position: absolute;
    margin: auto;
    inset: 0;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0,0.3);
}

img {
    width: 100%;
    border-radius: 10px;
}

h2 {
    color: #1f3251;
    font-weight: 700;
}

p {
    color: #7b879d;
    font-weight: 400;
}