*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background: #141a34;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.heading-section {
    margin-bottom: 50px;
    color: #fff;
}
.heading-section h1 {
    font-size: 60px;
}
.heading-section h1 span {
    color: green;
    background-color: #fff;
    display: inline-block;
    padding-inline: 10px;
    border-radius: 10px;
    font-size: 50px;
}
/* 
.useful-links{
    position: absolute;
    top: 5%;
    right: 5%;

} */
/* .useful-links a{
    display: block;
    color: #fff;
    text-decoration: none;
} */

form{
    width: 90%;
    max-width: 500px;
    padding: 50px 30px 20px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    position: relative;
    display: none;
}
.close-form {
    display: block;
}
.fa-paper-plane{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    font-size: 26px;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.input-group{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px 0;
    position: relative;
}
.input-group label{
    flex-basis: 28%;
}
.input-group input, .input-group textarea{
    flex-basis: 68%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 10px 0;
    border-bottom: 1px solid #999;
    color: #333;
    font-size: 16px;
}
::placeholder{
    font-size: 14px;
}

form button{
    background: #141a34;
    color: #fff;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    padding: 10px 40px;
    outline: 0;
    cursor: pointer;
    display: block;
    margin: 30px auto 10px;
}
.first-section button {
    padding: 10px 50px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #fa1;
    cursor: pointer;
}
.hide-button {
    display: none;
}
.close-sec {
    width: 30px;
    height: 30px;
    /* background-color: #fa1; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
}
.close-sec:hover {
    color: red;
}
.input-group span {
    color: red;
    position: absolute;
    bottom: 12px;
    right: 17px;
    font-size: 14px;
}
#submit-error {
    color: red;
}
.input-group span i {
    color: green;
}
.thanks-modal {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    min-height: 150px;
    border-radius: 20px;
    margin-block: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.check-mark  {
    position: absolute;
    top: -18px;
    font-size: 60px;
    color: green;
}
.modal-close-icon {
    position: absolute;
    right: 15px;
    top: 10px; 
    cursor: pointer;
    transition: all 0.2s ease;
}
.modal-close-icon:hover {
    color: red;
}