
.image-object {
  height: 100%;
  width: 80%;
  object-fit: cover;
  display: block;
  margin-inline: auto;
}
.container {
  position: relative;
  width: 60%;
  height: 70vh;
  margin-inline: auto;
  box-shadow: 0px 0px 4px 2px rgb(0 0 0 / 15%);
}
.slide-element {
  background-color: black;
  position: absolute;
  color: #fff;
  padding: 10px;
  top: 50%;
  cursor: pointer;
  border-radius: 10px;
  font-size: 20px;
}
.slide-element.right {
  right: 1rem;
}
.slide-element.left {
  left: 1rem;
}
.text-center {
  text-align: center;
}
.slide-element i {
  font-size: 24px;
}
.slide-element:hover {
  color: #fa0;
}
.image-count-color {
  color: #fa0;
  padding: 2px;
}