* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #000;
    color: #fff;
}
.component-style {
    text-align: center;
    margin-top: 40px;
}
.component-style button {
    background-color: #fa1;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}