* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",'Courier New', Courier, monospace;
}
.container {
    width: 100%;
    min-height: 100vh;
    background-color: #d0eaff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product {
    width: 90%;
    max-width: 750px;
    display: flex;
}
.gallery {
    flex-basis: 47%;
    /* background-color: #241e20; */
    transform: scale(1.08);
    box-shadow: -10px 5px 10px 10px rgba(0,0,0,0.1);
    position: relative;
}
.gallery img {
    display: block;
    width: 100%;
    /* padding-top: 100px; */
}
.details {
    flex-basis: 53%;
    background-color: #fff;
    padding: 30px 40px 30px 60px;
    box-shadow: -10px 5px 10px 10px rgba(0,0,0,0.1);
    color: #777;
    font-size: 14px;
}
.details h3 {
    font-size: 30px;
    color: #333;
}
.details .price-tag {
    font-size: 25px;
    font-weight: 600;
    color: #555;
}
.details .discount-tag {
    color: #00d874;
    margin-bottom: 10px;
    font-weight: 700;
}
.details form {
    font-size: 16px;
    font-weight: 400;
}
.size-select-radio {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.size-select-radio p {
    width: 70px;
}
.size-select-radio input:checked + span {
    color: blue;
    font-weight: 600;
}
.size-select-radio input {
    display: none;
}
.size-select-radio span {
    padding: 5px;
    margin-right: 10px;
    cursor: pointer;
}
.color-select {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.color-select p {
    width: 75px;

}
.color-select span {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
}
.color-1 {
    background-color: red;
}
.color-2 {
    background-color: green;
}
.color-3 {
    background-color: blue;
}
.color-4 {
    background-color: pink;
}
.color-select input {
    display: none;
}
.color-select input:checked + span {
    transform: scale(0.7);
    box-shadow: 0 0 0 4px #fff, 0 0 0 6px #000;
}
.quantity-select {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.quantity-select p {
    width: 75px;
}
.quantity-select input{
    background-color: #eee;
    border: 0;
    outline: 0;
    padding: 2px 2px 2px 15px;
    width: 50px;
    border-radius: 12px;
}
.buy-button {
    background-color: #553ff0;
    color: #fff;
    font-size: 17px;
    width: 100%;
    padding: 10px;
    border-radius: 30px;
    border: 0;
    outline: none;
    margin-top: 30px;
    box-shadow: 0 10px 10px rgba(85, 63, 240, 0.25);
    cursor: pointer;
}
.controls {
    position: absolute;
    bottom: 40px;
    right: 20px;
}
.controls .btn {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 10px;
    cursor: pointer;
}
.btn.active{
    background-color: #553ff0;
}
@media screen and (max-width: 820px){
    .container {
        padding: 10px;
        width: unset;
    }
    .product {
        flex-direction: column;
        box-shadow: -10px 5px 10px 10px rgba(0,0,0,0.1);
    }
    .gallery {
        transform: scale(1);
        box-shadow: unset;
    }
    .details {
        box-shadow: unset;
    }
    .controls {
        left: 20px;
    }
    .controls .btn {
        background-color: #00000052;
    }
    .btn.active{
        background-color: orange;
    }
}
@media screen and (max-width: 300px) {
    .size-select-radio {
       flex-direction: column;
    }
    .color-select {
       flex-direction: column;
    }
    .quantity-select {
        flex-direction: column;
    }
    .details {
        padding: 10px;
    }
}