body {
    font-family: serif;
    margin: 0;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
* {
    box-sizing: border-box;
}
.sticky-note {
    background-color: #94ca29;
    padding: 20px 10px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    
}
.nav-bar {
    position: sticky;
    top: 0;
}
.main-heading {
    background-color: #1abc9c;
    color: white;
    text-align: center;
    padding: 50px;
}
.main-heading h1, p {
    margin: 0;
    font-weight: 600;
}
.navigantion-links {
    padding: 0;
    margin: 0;
    display: inline-block;
    background-color: grey;
    width: 100%;
    
}
.navigantion-links li {
    display: inline-block;
    padding: 14px 20px;
    cursor: pointer;
    color: aliceblue;
    font-weight: 600;
}
.navigantion-links li:hover {
    background-color: #94ca29;
    border-left: 4px solid red;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
}
.side {
    flex: 25%;
    background-color:#f1f1f1;
    padding: 10px;
}
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}
.main-tag {
    flex: 75%;
    padding: 10px;
}
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}
@media screen and (max-width: 700px) {
    body {
        margin: 0;
    }
    .flex-container {
        flex-direction: column;
    }
}
@media screen and (max-width: 450px) {
    .navigantion-links {
        display: flex;
        flex-direction: column;
    }
    .navigantion-links li {
        text-align: center;
    }
    .main-heading {
        padding: 10px;
    }
    .sticky-note {
        padding: 10px;
        font-size: 16px;
        font-weight: 400;
    }
}