* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",'Courier New', Courier, monospace;
}

body {
    background-image: linear-gradient(to right, #1d0000, #20205b);
}
header {
    margin: 5% auto;
    color: #fff;
}
header h1,p {
    margin-left: 10%;
}
header h1 span {
    background-color: #fa1;
    border-radius: 10px;
    color: #1d0000;
    padding: 0 20px;
    font-size: 30px;
}
header p {
    margin-top: 10px;
}
.container {
    /* width: 100%;
    height: 100vh; */
    display: flex;
    gap: 30px;
    position: relative;
}
.circle {
    border: 1px solid black;
    position: relative;
    width: 30px;
    height: 30px;
    background-color: #fff;
    display: inline-block;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.question-section {
    margin-left: 10%;
    width: 100%;
    max-width: 450px;
}
.circle i {
    visibility: hidden;
    font-size: 30px;
    color: green;
}
.circle.tick-mark i{
    visibility: visible;
}
.question-button {
    display: flex;
    align-items: center;
    gap: 30px;
    /* justify-content: space-between; */
    width: 100%;
    max-width: 400px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
}
.progress-bar-container {
    width: 100%;
}
.circle-section {
    width: 260px;
    height: 260px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.5s ease-in-out;
}
.circle-section::before {
    content: "";
    width: 210px;
    height: 210px;
    background-color: #20205b;
    border-radius: 50%;
    position: absolute;
}
.percentageValue {
    position: relative;
    font-size: 32px;
    font-weight: 600;
    color: #fff;
}

@media screen and (max-width: 700px) {
    .container {
        display: unset;
    }
    .question-button {
        width: 100%;
        max-width: 400px;
    }
    .question-section {
        margin-inline: 20px;
        width: 90%;
        max-width: unset;
        position: absolute;
        top: 300px;
    }
    .progress-bar-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-block: 20px;
    }
    header h1, p {
        margin-left: unset;
        padding-inline: 15px;
    }
}